<a href="https://colab.research.google.com/github/cirinnaa/Climate-Change/blob/master/supp_exam_student_version_909_967_(1)_909.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Supplementary Analyse Exam

## Instructions to students

* **IMPOTANTLY: DO NOT ADD / REMOVE CELLS FROM THIS NOTEBOOK, AND DO NOT CHANGE THE NAMES OF THE FUNCTIONS REQUIRED FOR TESTING.**
* This exam conists of 8 questions. Each question is independant on one another, and does require you to use functions built from previous questions. You can answer any question in any order you like.
* Ensure that the answers to your questions do not contain `syntax` or `indentation` errors. Questions with these errors will break the autograder, and will mark the _**entire exam**_ as incorrect. The autograder will give you an error message if this is the case. Use this error message to correct the offending code, or comment it out before resubmitting.
* You will be able to make _**multiple submissions**_ to the autograder. Use this ability to check whether a question you have answered is correct before proceeding to the next question.
* Only place code in sections that contain the `# Your code here` comment.
* We have provided some expected outputs for your code. Use these to determine whether your code is behaving as intended.
* Some questions may have multiple requirements. It is possible to receive partial marks in these questions, so if you get stuck, try submitting to the autograder before moving on.

**GOOD LUCK, and may the force be with you.**

## Section 1

### Question 1

Write a function that converts a given string into "txt spk".

The function should take as input a sentence (as `str`) and return as output the string but with all vowles and punctuation removed. For example:
```python
text_speech('Hello, World!') == 'Hll Wrld'
```

_**Function specfications:**_
* Vowels are defined as any character in `aeiou`. Uppercase vowels should also be removed.
* Punctuation is defined as any symbol in `.,!?;:`.
* The function should return a `str` type.

_**HINT:**_

Try Googling "How to delete a character in Python" if you get stuck.

In [ ]:
### START FUNCTION
def text_speech(sentence):
    vowel = ('a', 'e', 'i', 'o', 'u','A', 'E', 'I', 'O', 'U') 
    for x in sentence: 
        if x in vowel:
            sentence = sentence.replace(x, '')
    punc = (r'''!()-[]{};:'"\,<>./?@#$%^&*_~''') 
    for x in sentence: 
        if x in punc:
            sentence = sentence.replace(x, '')
                    
    return sentence
### END FUNCTION

In [ ]:
text_speech('This is not good English')

'Ths s nt gd nglsh'

_**Expected Outputs:**_
```python
text_speech('Hello, World!') == 'Hll Wrld'
text_speech('I talk funny') == ' tlk fnny'
text_speech('This is not good English') == 'Ths s nt gd nglsh'
```

### Question 2

The function below should sort the elements of the list in reverse order (highest to lowest) and return the first two elements of the list, however, it contains a number of errors. Uncomment the function, and correct the errors until the function yields the desired output.

_**Hint:**_

* Use the error messages python provides you to correct the function
* To check whether the function is working, you can use the Athena autograder. _**Don't be afraid to submit multiple times to the autograder when checking whether your function works.**_

_**Note:**_

If this or any other function contains a syntax error, the autograder will mark the _**entire exam**_ as zero. If this is the case, please _comment out_ the question with the error.

In [ ]:
### START FUNCTION
def reverse_sort_slice_list(a):
    output = []
    output = sorted(a, reverse=True)
    output = output[0:2]
    return output
### END FUNCTION

In [ ]:
reverse_sort_slice_list([1, 5, 3, 2]) == [5, 3]

True

_**Expected outputs:**_
```python
reverse_sort_slice_list([1, 5, 3, 2]) == [5, 3]
reverse_sort_slice_list([-1, 3, -6, 7]) == [7, 3]
reverse_sort_slice_list([2]) == [2]
```

## Section 2

You will require the use of the `numpy` and `pandas` packages in this section. Use them to answer the following questions.

In [ ]:
import numpy as np
import pandas as pd

### Question 3

Write a function which calculates the following math equation and round your answer to 2 decimal places.

\begin{equation}
 z = \frac{\pi e^{x^2}}{4y}
\end{equation}

_**Function Specifications:**_
* The input variables `x` and `y` are single values (that is, not a `list`/`array`)
* If a division by zero occurs, raise a `ValueError`.
* Output should be rounded to 2 decimal places.

In [ ]:
### START FUNCTION
def custom_function(x,y):
    
    # Your code here
    
    return 
### END FUNCTION

In [ ]:
custom_function(0.5, 7) == 0.14

False

_**Expected Outputs:**_
```python
custom_function(0.5, 7) == 0.14
custom_function(0.5,0.01) == 100.85
custom_function(0.1,0.3) == 2.64
```

### Question 4

Given a Python list, calculate and return the difference between the second largest number and the second smallest number. Assume that the list contains two or more elements.

_**Function Specifications:**_
* The second largest / smallest must be different to the largest / smallest number in a list. That is:
```python
difference([10, 10, 10, 8, 5, 2, 1, 1, 1]) == 8 - 2 == 6
```
* Should take a `list` as input.

In [ ]:
### START FUNCTION
def difference(list1):
   
    mx=max(list1[0],list1[1]) 
    secondmax=min(list1[0],list1[1])   
    n =len(list1)
    for i in range(2,n): 
      if list1[i]>mx: 
        secondmax=mx
        mx=list1[i] 
      elif list1[i]>secondmax and \
        mx != list1[i]: 
        secondmax=list1[i]

    mn=min(list1[0],list1[1])    
    secondmin=max(list1[0],list1[1])   
    n =len(list1)
    for i in range(-2,n): 
      if list1[i]<mn: 
        secondmin=mn
        mn=list1[i] 
      elif list1[i]<secondmin and \
        mn != list1[i]: 
        secondmin=list1[i]
      
    return secondmax - secondmin
### END FUNCTION

In [ ]:
difference([5,13,1,9,18]) == 8

True

_**Expected Outputs:**_
```python
difference([1,2]) == -1
difference([1,2,3,4]) == 1
difference([5,13,1,9,18]) == 8
```

### Question 5

Write a function that takes a list of numbers as an input and produces a report on the sample statistics of the list. The function should return a `dict` type object containing statistics of the list.

_**Function Specifications:**_
* Must take a `list` as input.
* If the function does not receive a `list`, it must raise a `TypeError`.
* If the length of the `list` is smaller than or equal to 1, raise a `ValueError`.
* Function must return a `dict`, whose keys represent the sample statistics of the input with the following format:
```python
{
    'mean': # mean of the input,
    'std': # unbiased estimate of the standard deviation,
    'min': # minimum of the input,
    'median': # median of the input,
    'max': # maximum of the input
}
```
* If the input list contains multiple rows, the function should report on the mean/std/max/etc of each row in the form of a list.
```python
statistics([[1, 2], [3, 4]]) == {
    'mean': [1.5, 3.5],
    'std': [0.71, 0.71],
    'min': [1, 3],
    'median': [1.5, 3.5],
    'max': [2, 4]
}
```
* All numerical values should be rounded to 2 decimal places

_**HINT:**_

* Use `numpy` functions with the `axis` keyword.
* When doing an unbiased estimate, try googling the `ddof` keyword, or refer to the train in Athena.
* The `axis` keyword should be either `0`, `1`, or `-1`. One of these will work better than the other.
* _You can get partial marks for this question if you only get part of it correct. Don't be afraid to submit to the autograder for marks if you are getting stuck._

In [ ]:
### START FUNCTION
def statistics(x):
    stats = list(x)

    x = {'mean' : np.around(np.mean(stats),2),
         'std' : np.around(np.std(stats, ddof = 1),2),
         'min' : np.around(np.min(stats),2),
         'median' : np.around(np.median(stats),2),      
         'max' : np.around(np.max(stats),2)}
    
    
    return x
### END FUNCTION

In [ ]:
statistics([1, 2, 2, 3, 4])

{'max': 4, 'mean': 2.4, 'median': 2.0, 'min': 1, 'std': 1.14}

_**Expected Outputs:**_
```python
statistics([1, 1, 1, 1]) == {'mean': 1, 'std': 0, 'min': 1, 'median', 1, 'max': 1}
statistics([1, 2, 2, 3, 4]) == {'mean': 2.4, 'std': 1.29, 'min': 1, 'median': 2.0, 'max': 4}
statistics([[1, 2], [3, 4]]) == {
    'mean': [1.5, 3.5],
    'std': [0.71, 0.71],
    'min': [1, 3],
    'median': [1.5, 3.5],
    'max': [2, 4]
}
```

### Dataframes

You will need these dataframes in order to answer the following questions.

_**DO NOT ALTER THESE DATAFRAMES AS DOING SO CAN LEAD TO A NEGATIVE MARK**_

In [ ]:
country_map_df = pd.read_csv('https://raw.githubusercontent.com/Explore-AI/Public-Data/master/AnalyseProject/country_code_map.csv', index_col='Country Code')
population_df = pd.read_csv('https://raw.githubusercontent.com/Explore-AI/Public-Data/master/AnalyseProject/world_population.csv', index_col='Country Code')
meta_df = pd.read_csv('https://raw.githubusercontent.com/Explore-AI/Public-Data/master/AnalyseProject/metadata.csv', index_col='Country Code')

_**Dataframe specifications:**_

The dataframes provide information about the population of the world for various years. Some things to note:
* All dataframes have a `Country Code` as an index, which is a three letter code referring to a country.
* The `country_map_df` data maps the `Country Code` to a `Country Name`.
* The `population_df` data contains information on the population for a given country between the years of 1960 and 2017.
* The `meta_df` data contains meta information about each country, including it's geographical region, it's income group, and a comment on the country as a whole.

In [ ]:
country_map_df.head()

             Country Name
Country Code
ABW                 Aruba
AFG           Afghanistan
AGO                Angola
ALB               Albania
AND               Andorra

In [ ]:
population_df.head()

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
Country Code,,,,,,,,,,,,,,,,,,,,,
ABW,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,57715.0,58055.0,58386.0,58726.0,...,101353.0,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0,105264.0
AFG,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,9938414.0,10152331.0,10372630.0,10604346.0,10854428.0,...,27294031.0,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0,35530081.0
AGO,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,6203299.0,6309770.0,6414995.0,6523791.0,6642632.0,...,21759420.0,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0,29784193.0
ALB,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,1914573.0,1965598.0,2022272.0,2081695.0,...,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0
AND,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,19647.0,20758.0,21890.0,23058.0,...,83861.0,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0,76965.0

In [ ]:
meta_df.head()

,Region,Income Group,Special Notes
Country Code,,,
ABW,Latin America & Caribbean,High income,Mining is included in agriculture\r\r\r\nElect...
AFG,South Asia,Low income,Fiscal year end: March 20; reporting period fo...
AGO,Sub-Saharan Africa,Lower middle income,NaN
ALB,Europe & Central Asia,Upper middle income,NaN
AND,Europe & Central Asia,High income,WB-3 code changed from ADO to AND to align wit...

Using this information, answer the questions below:

### Question 6

Write a function that returns the population for a given year and country name.

_**Function Specifications:**_
* The function should take in a year as `int` and a country name as a `str` as inputs.
* The function should return an `int`.

_**Note:**_
* Column references should be a `str` type. This is relevant when referring to the years in the `population_df` table.

In [ ]:
### START FUNCTION
def population_by_country_year(country_name, year):
    
    # Your code here
    
    return
### END FUNCTION

In [ ]:
population_by_country_year('Algeria', 2015) == 39871528

_**Expected Outputs:**_
```python
population_by_country_year('South Africa', 1960) == 17456855
population_by_country_year('Canada', 2012) == 34750545
population_by_country_year('Algeria', 2015) == 39871528
```

### Question 7

Write a function that returns the summed population total in each geographic region for a given year.

_**Function Specifications:**_
* Should take as input a year as an `int`.
* Should have `Region` as the index.
* Should return a `DataFrame`, NOT a `Series`.

In [ ]:
### START FUNCTION
def total_pop_in_region(year):
    
    # Your code here
    
    return
### END FUNCTION

In [ ]:
total_pop_in_region(1960)

_**Expected Outputs:**_
```python
total_pop_in_region(1960)
```
> <table class="dataframe" border="1">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>1960</th>
    </tr>
    <tr>
      <th>Region</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>East Asia &amp; Pacific</th>
      <td>1.029333e+09</td>
    </tr>
    <tr>
      <th>Europe &amp; Central Asia</th>
      <td>6.606384e+08</td>
    </tr>
    <tr>
      <th>Latin America &amp; Caribbean</th>
      <td>2.204347e+08</td>
    </tr>
    <tr>
      <th>Middle East &amp; North Africa</th>
      <td>1.054887e+08</td>
    </tr>
    <tr>
      <th>North America</th>
      <td>1.986244e+08</td>
    </tr>
    <tr>
      <th>South Asia</th>
      <td>5.718357e+08</td>
    </tr>
    <tr>
      <th>Sub-Saharan Africa</th>
      <td>2.285860e+08</td>
    </tr>
  </tbody>
</table>

```python
total_pop_in_region(2016)
```
> <table class="dataframe" border="1">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>2016</th>
    </tr>
    <tr>
      <th>Region</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>East Asia &amp; Pacific</th>
      <td>2.275219e+09</td>
    </tr>
    <tr>
      <th>Europe &amp; Central Asia</th>
      <td>9.116863e+08</td>
    </tr>
    <tr>
      <th>Latin America &amp; Caribbean</th>
      <td>6.376639e+08</td>
    </tr>
    <tr>
      <th>Middle East &amp; North Africa</th>
      <td>4.367380e+08</td>
    </tr>
    <tr>
      <th>North America</th>
      <td>3.597359e+08</td>
    </tr>
    <tr>
      <th>South Asia</th>
      <td>1.766394e+09</td>
    </tr>
    <tr>
      <th>Sub-Saharan Africa</th>
      <td>1.028258e+09</td>
    </tr>
  </tbody>
</table>

## Section 3

### Question 8.1

Write a function that returns the global yearly population `Growth`, grouped by the `Income Group` and `Year`.

_**Function Specifications**_
* Should not take any inputs.
* The years are currently presented as the heading of each row in the population table. The table will have to be melted to produce the appropriate format. You can use `df.melt` to do this, where the variable name should be `Year` and the value name should be `Growth`.
* Should group by the `Year` and `Income Group`.
* Should only have one column named `Growth`.
* The `Income Group` and the `Year` should be indices.
* The `Growth` is calculated by taking the yearly difference and dividing it by the total population for each year, multiplied by 100.
* Should return a `DataFrame`.

In [ ]:
### START FUNCTION
def population_difference_by_income():
    
    # Your code here
    
    return
### END FUNCTION

In [ ]:
population_difference_by_income().head()

_**Expected Output:**_
```python
population_difference_by_income().head()
```
> <table class="dataframe" border="1">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>Growth</th>
    </tr>
    <tr>
      <th>Income Group</th>
      <th>Year</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="5" valign="top">High income</th>
      <th>1960</th>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1961</th>
      <td>1.450978</td>
    </tr>
    <tr>
      <th>1962</th>
      <td>1.261630</td>
    </tr>
    <tr>
      <th>1963</th>
      <td>1.235893</td>
    </tr>
    <tr>
      <th>1964</th>
      <td>1.207633</td>
    </tr>
  </tbody>
</table>

### Question 8.2

Using the function you just created, write a function that returns the average population _growth_ over all years for a given income group. 

_**Function Specifications:**_
* Should take as input a `str` as the income group.
* Should raise a `ValueError` if the input is not a valid income group.
* Should return a `float`, rounded to 2 decimal places.

In [ ]:
### START FUNCTION
def ave_growth_by_income(income_group):
    
    # Your code here
    
    return 
### END FUNCTION

In [ ]:
ave_growth_by_income('Low income') == -8.46

_**Expected Outputs:**_
```python
ave_growth_by_income('High income') == 0.81
ave_growth_by_income('Low income') == -8.46
```